body, html {
  height: 100%;
}

header {
  align-items: center;
  justify-content: center;
  height: 20%;
  margin: 10px;
  background-color: #f1f1f1;
  
}

.flex {
  display: flex;
}

section {
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 15px;
  font-size: 30px;
  
}

.forecast {
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;
}

.forecastItem {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: blue;
  color: white;
}

.forecastDay {
  margin-top: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.left {
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.right {
  flex-grow: 4;
  /* flex-direction: column; */
}

h5 {
  margin: 0;
  padding: 0;
}

form {
  margin-bottom: 20px;
}

table, td, tr {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0px;
  padding: 10px;
  text-align: center;
  width: 100%;

}

p {
  font-size: 15px;
  margin: 5px;
  padding: 0;
}

h3 {
  margin: 0;
}

#search {
  width: 60%;
}

img[src=""] {
  display: none;
}
